body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#game {
    height: 834px;
    width: 1207px;
}
#header {
     background-color: #9fb0d7;
     display: flex;
     height: 64px;
     font-weight: bold; 
}

#afy-container {
    display: flex;
    text-align: center;
    width: 82px;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#acrefeet-label {
    font-size: small;
    padding-bottom: 8px;
}

#acrefeet-display {
    border: 3px solid;
    width: 56px;
    text-align: right;
    font-weight: bold;
    margin: 6px 2px;
    padding: 2px
}

.header-button {
    margin: 5px 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 4px;
    border-style: solid;
    border-color: #B4B9BF #8D97A9 #5B687D #8D97A9;
    background-image: linear-gradient(#CFD7EA, #8D9EC3);
}

.header-button:active{
    background-image: linear-gradient(#E1F3FE, #9DD8FE);
}

#flow-button {
    width: 126px;
}

#reset-button {
    width: 77px;
}

#save-button {
    width: 60px;
    margin-left: auto;
    margin-right: 20px;
}

#load-button {
    width: 60px;
    margin-right: 30px;
}

#title-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    width: 120px;
    margin: 0px 40px;
}
#points-display {
    margin: 8px;
    background-color: yellow;
    border: 2px solid black;
}

#game-field {
    background-color: #F2E1D4;
    display:flex;
    height: 100%;
    width: 100%;
}

#info-panel-container {
    width: 396px;
    height: 100%;
    padding:3px;
}

#visualizer-panel-container {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

#visualizer-text {
    text-align: center;
}

.info-button {
    background-color: #99FFFF;
    font-weight: bold;
    border-width: 2px;
    font-size: medium;
    margin: 10px 0px 0px 0px;
}

.info-button:hover {
    border-color: red;
}

.dropdown{
    font-weight: bold;
    display: inline-block;
    position: relative;
    min-width: fit-content;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 0%;
    width: 100%;
    z-index: 1;
    background-color: #99FFFF;;    
}

.option-label{
    font-size: smaller;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
}

.option-anchor-row {
    border: 1px solid black;
    border-top: none;
    display: flex;
}

.checkmark{
    color:black;
    margin-left: auto;
    margin-right: 10px;
    display: none;
}

.option-anchor-row:hover{
    border-color: red;
    border-top: 1px solid red;
    margin-top: -1px;
}

.showDrop{
    display:block
}

fieldset {
    display:flex;
    border:none;
}

.form-input-container {
    display:flex;
    flex-direction: column;
    margin: 5px 10px;
}

.form-warning {
    text-align: center;
    color: red;
}

.invisible{
    opacity: 0%;
}

#scoreboard-container {
    background-color: #FBF49A;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 477px;
    width: 390px;
    margin: 10px 0px 5px 0px;
    border-radius: 6px;
}

#scoreboard-label {
    text-align: center;
    padding: 9px;
    font-weight: bold;
    font-size: small;
}

#scoreboard-display {
    flex-grow: 1;
    align-self: stretch;
    height: 90%;
    margin: 0px 10px 20px 10px;
}
#scoreboard-display table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

#dam-data-container{
    flex-direction: column;
    align-items: center;
    width: 265px;
    border-radius: 6px;
    background-color: #ECC7DF;
    position:absolute;
}

#trading-data-container{
    flex-direction: column;
    align-items: center;
    width: 265px;
    border-radius: 6px;
    background-color: #D1B8D9;
    position:absolute;
}

#trademax{
    align-self: flex-end;
    display:none;
}

#trading-data-subsecs-label-group{
    display: flex;
    font-size: 10px;
    font-weight: bold;
    width: 95%;
    justify-content: space-between;
}

.trading-data-subsecs-label{
    text-align: center;
}

#water-sold-label{
    margin-left: 20px;
}

#water-bought-label{
    margin-right: 14px;
}

#dam-data-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trading-data-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trading-data-label{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

#dam-data-label{
    text-align: center;
    font-weight: bolder;
}

#dam-data-container table{
    font-weight: bold;
    border: 2px solid black;
    border-collapse: collapse;
    width: 97%;
    height: 100%;
    margin: 5px 0px 5px 0px;
}

#trading-data-container table{
    font-weight: bold;
    border: 2px solid black;
    border-collapse: collapse;
    width: 97%;
    height: 100%;
    margin: 5px 0px 5px 0px;
}


tr, td, th{
    border: 1px solid black;
    font-weight: bold;
}

th.normalcol {
    width: 16%;
}

th, tr {
    height:6.25%;
    font-size: small;
}

td {
    text-align: right;
    padding-right: 5px;
}

.smallcell{
    font-size: x-small;
}


td {
    text-align: right;
}

.Farm {
    background-color: #8dc63f;
}

.Industrial {
    background-color: #99ffff;
}

.Urban {
    background-color: #e78ab9;
}

.Mining {
    background-color: #db9b3e;
}

